.row:before,
.row:after {
	content:"";
	display: table ;
	clear: both;
 }
 


[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

/*section>.container {
  margin: 50px auto;
  text-align: center;
}*/

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.jumbotron {
	background-image: url(https://i.imgur.com/XQofZ8B.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 900px;
}

.jumbotron .circle {
	width: 35px;
	height: 35px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative;
}

.jumbotron .circle:before {
	content: "";
	width: 15px;
	height: 15px;
	border: 2px white solid;
	border-radius: 50%;
  position: absolute;
	top: 25%;
	left: 27%;
}

.jumbotron .circle:after {
	content: "take";
	color: white;
	font-size: 20px;
	position: absolute;
	left: 135%;
	top: 5%;
}

.rotate {
	margin: 0;
	position: absolute;
	top: 50vh;
	transform: rotate(-90deg);
	color: white;
	font-size: 14px;
	font-weight: bold;
}

#slim {
	font-weight: 300;
}

.jumbotron .container h1 {
	padding-top: 30vh;
	color: white;
	font-weight: 300;
	font-size: 54px;
}

.jumbotron .container p {
	color: white;
}

.text {
	text-align: left;
	margin-left: 1vw;
}